@mixin tagCriate($color, $background-color, $font: "Lato") {
  @extend .v-tag;
  color: $color;
  background: $background-color;
  & .v-tag--img {
    border-radius: 100%;
    display: flex;
    align-items: end;
    margin-right: 0.25rem;
    > img {
      filter: invert(1);
      width: 1rem;
    }
  }
}

.v-tag {
  font-family: "Lato", sans-serif;
  font-size: 0.8125rem;
  color: $neutral-color-low-pure;
  background: $neutral-color-hight-medium;
  padding: 0.25rem 0.5rem;
  border-radius: 4rem;
  margin-right: 0.5rem;
  width: fit-content;
  display: flex;
  align-items: center;
  font-weight: bold;

  button {
    border: none;
    background-color: transparent;
    font-size: 0.9375rem;
    cursor: pointer;
    color: $brand-color-primary-pure;
    padding: {
      right: 0;
      top: 0;
      bottom: 0;
      left: 0.2rem;
    }
  }
  // helper
  // warning
  // success
  // default
  &__solid {
    &--primary {
      @include tagCriate(
        $neutral-color-hight-pure,
        $feedback-color-default-pure
      );
    }
    &--secondary {
      @include tagCriate($neutral-color-hight-pure, $neutral-color-low-medium);
    }
    &--helper {
      @include tagCriate(
        $neutral-color-hight-pure,
        $feedback-color-helper-pure
      );
    }
    &--warning {
      @include tagCriate(
        $neutral-color-hight-pure,
        $feedback-color-warning-pure
      );
    }
    &--success {
      @include tagCriate(
        $neutral-color-hight-pure,
        $feedback-color-success-pure
      );
    }
  }
  &__outline {
    &--primary {
      @include tagCriate($feedback-color-default-pure, transparent);
      border: solid 1px $feedback-color-default-pure;
    }
    &--secondary {
      @include tagCriate($neutral-color-low-medium, transparent);
      border: solid 1px $neutral-color-low-medium;
    }
    &--helper {
      @include tagCriate($feedback-color-helper-medium, transparent);
      border: solid 1px $feedback-color-helper-medium;
    }
    &--warning {
      @include tagCriate($feedback-color-warning-medium, transparent);
      border: solid 1px $feedback-color-warning-medium;
    }
    &--success {
      @include tagCriate($feedback-color-success-medium, transparent);
      border: solid 1px $feedback-color-success-medium;
    }
  }
  &__ice {
    &--primary {
      @include tagCriate(
        $feedback-color-default-pure,
        $feedback-color-default-extra-light
      );
    }
    &--secondary {
      @include tagCriate($neutral-color-low-pure, $neutral-color-hight-medium);
    }
    &--helper {
      @include tagCriate(
        $feedback-color-helper-pure,
        $feedback-color-helper-extra-light
      );
    }
    &--warning {
      @include tagCriate($feedback-color-warning-medium, #fff9db);
    }
    &--success {
      @include tagCriate($feedback-color-success-medium, #d9ffee);
    }
  }
  &--square {
    font-family: "Lato", sans-serif;
    border-radius: 0.25rem;
  }
  &.mdi::before {
    font-size: 1rem;
    margin-right: 0.25rem;
  }
}
