.box {
  &--pagination {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Lato-Regular", sans-serif;
    font-size: .875rem;

    &-count {
      line-height: 1;
      margin: 1.25rem .625rem;
    }

    &-pages {
      padding: 1rem 0px;
      margin-left: auto;
      order: 2;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      &-size {
        min-width: 32px;
        max-width: 120px;
        display: flex;

        .v-select {
          width: 120px;
        }
      }

      &-itens {
        display: flex;

        .pagination {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          color: $neutral-color-low-pure;

          &_li {
            display: flex;
            align-self: center;
            font-weight: 700;

            border: {
              left: solid 0px $neutral-color-hight-medium;
              top: solid 1px $neutral-color-hight-medium;
              bottom: solid 1px $neutral-color-hight-medium;
              right: solid 0.5px $neutral-color-hight-medium;
            }

            &:first-child {
              border-radius: 5rem 0 0 5rem;
              border-left: solid 1px $neutral-color-hight-medium;

              a::before {
                content: '<';
              }
            }

            &:last-child {
              border-radius: 0 5rem 5rem 0;

              a::before {
                content: '>';
              }
            }

            &--item {
              padding: 10px;
              text-decoration: none;
              color: $neutral-color-low-medium;
              min-width: 2.125rem;
              box-sizing: border-box;
              text-align: center;
              cursor: pointer;

              &.active,
              .active {
                color: $color-primary-pure  !important;
                font-weight: 800;
              }

              &:hover {
                color: $neutral-color-low-pure;
              }
            }
          }
        }
      }
    }
  }
}