.box {
  &--pagination {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-itens: center;
    justify-content: center;
    font-family: "Lato-Regular", sans-serif;
    font-size: .875rem;

    &-count {
      line-height: 1;
      margin: 1.25rem .625rem;
    }

    &-pages {
      padding: 1rem 0px;
      margin-left: auto;
      order: 2;
      display: flex;
      flex-wrap: wrap;
      align-itens: center;
      justify-content: center;

      &-size {
        min-width: 32px;
        max-width: 120px;
        display: flex;

        .v-select {
          width: 120px;
        }
      }

      &-itens {
        display: flex;

        .pagination {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          color: $neutral-color-low-pure;

          &_li {
            display: flex;
            align-self: center;
            font-weight: 700;

            border: {
              left: solid 0px $neutral-color-hight-medium;
              top: solid 1px $neutral-color-hight-medium;
              bottom: solid 1px $neutral-color-hight-medium;
              right: solid 0.5px $neutral-color-hight-medium;
            }

            &:first-child {
              border-radius: 5rem 0 0 5rem;
              border-left: solid 1px $neutral-color-hight-medium;

              a::before {
                @extend .arrow__pagination;
                transform: rotate(90deg);
              }
            }

            &:last-child {
              border-radius: 0 5rem 5rem 0;

              a::before {
                @extend .arrow__pagination;
                transform: rotate(-90deg);
              }
            }

            .arrow__pagination {
              content: '.';
              color: transparent;
              background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' color='red' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 5l6 6 6-6'/%3e%3c/svg%3e");
              background-repeat: no-repeat;
              background-size: 14px 10px;
              display: block;
              opacity: .5;
              transition: ease-in-out .2s opacity;
              &:hover {
                opacity: 1
              }
            }

            &--item {
              padding: 10px;
              text-decoration: none;
              color: $neutral-color-low-medium;
              min-width: 2.125rem;
              box-sizing: border-box;
              text-align: center;
              cursor: pointer;

              &.active,
              .active {
                color: $color-primary-pure  !important;
                font-weight: 800;
              }

              &:hover {
                color: $neutral-color-low-pure;
              }
            }
          }
        }
      }
    }
  }
}
