$btns-color: (
  "helper": $feedback-color-helper-pure,
  "warning": $feedback-color-warning-pure,
  "success": $feedback-color-success-pure,
  "primary": $feedback-color-default-pure,
  "secondary": $neutral-color-low-medium
);

.v__btn {
  font-family: "Lato", sans-serif;
  margin: .25rem;
  border-radius: $border-radius-pill;
  width: fit-content;
  font-size: 0.875rem;
  transition: all ease-in-out 0.25s;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: fit-content;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    outline: 0;
  }

  @include mq(sm) {
    flex-wrap: nowrap;
  }
}

@mixin btn($color, $type: solid) {
  @extend .v__btn;

  @if $type ==solid {
    color: $neutral-color-hight-pure;
    border: solid 1px $color;
    background-color: $color;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($color, 5);
      border-color: darken($color, 5);
    }

    &:disabled {
      background-color: rgba($color, 0.5);
      border-color: rgba($color, 0);
    }

    & .v-btn--img {
      width: 1.25rem;
      height: 1.25rem;

      img {
        filter: invert(1);
        width: 1.25rem;

      }
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($color, 0.24)
    }
  }

  @else if $type ==outline {
    color: $color;
    border: solid 1px $color;
    background-color: transparent;

    &:hover,
    &:active,
    &:focus {
      background-color: rgba($color, $alpha: .2);
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($color, 0.10)
    }

    & .v-btn--img {
      border-radius: 100%;
      background-color: rgba($color, $alpha: .5);
      width: 1.25rem;
      height: 1.25rem;
      display: flex;
      align-items: center;

      > img {
        filter: invert(1);
        width: 1rem;
      }
    }
  }

  @else if $type ==shadow {
    color: $color;
    border: solid 1px $color;
    background-color: $neutral-color-hight-pure;
    box-shadow: 0 4px 8px 0 rgba($color, 0.24);

    &:hover,
    &:active,
    &:focus {
      background-color: $color;
      color: $neutral-color-hight-pure
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($color, 0.10)
    }
  }

  @else {
    @error "Erro no #{$color} ou no #{$type}";
  }
}

@mixin create-btn($btns) {

  @each $name,
  $color in $btns {
    .v-btn__solid--#{$name} {
      @include btn($color);
    }
    .v-btn__outline--#{$name} {
      @include btn($color, outline);
    }
    .v-btn__shadow--#{$name} {
      @include btn($color, shadow);
    }
  }
}

@include create-btn($btns-color);

// .v-btn--color
// .v-btn__outline--color

[class^="v-btn-"] {
  &.v-btn {
    &--sm {
      padding: 0.375rem 1.5rem;
    }

    &--md {
      padding: .5625rem 2rem;
    }

    &--lg {
      font-size: 1rem;
      padding: .8125rem 2rem;
    }

    &--icon {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 3.5rem;
      width: fit-content;

      i.mdi {
        left: 1.5rem;
        position: absolute;
        font-size: 1.25rem;
        margin-right: 1rem;
      }
    }

    &--not {
      @extend %transition-link;
      text-decoration: none;
      border: none;
      background: transparent;
      font-weight: bold;
      padding: 0.75rem 2rem;
      color: $neutral-color-hight-pure;
    }
  }

  & .v-btn--img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: .5rem;
  }
}
