.multiselect {
  &__container {
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 #d1d1d2, 0 0 0 1px #d1d1d2;
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 36px;
    padding: 2px 0.625rem;
    position: relative;
    width: 100%;
    max-width: 354px;
    margin-top: 0.25rem;

    &:after {
      content: "";
      min-height: inherit;
      font-size: 0;
    }

    > * {
      color: #656565;
      font-size: 14px;
    }

    .multiselect__wrapper .multiselect__input {
      border: none;
      flex-basis: 40px;
      flex-grow: 1;
      height: 24px;
      margin-bottom: 4px;
      min-width: 40px;
      outline: none;
      padding: 0;
      border: none;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  &__clear-btn {
    cursor: pointer;
    margin-left: 4px;

    &::after {
      @include icon("\F0156", 1.25rem);
      color: $brand-color-primary-pure;
    }
  }

  &__options {
    background-color: #f6f6f6;
    border-radius: 2px;
    left: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: calc(100% + 3px);
    z-index: 9999;
    width: 100%;
    opacity: 0;
    transition: max-height 0.1s ease;

    &.visible {
      max-height: 200px;
      -webkit-box-shadow: 0 1px 3px 0 #d1d1d2, 0 0 0 1px #d1d1d2;
      box-shadow: 0 1px 3px 0 #d1d1d2, 0 0 0 1px #d1d1d2;
      opacity: 1;
      transition: max-height 0.2s ease;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 2px 0;
      max-height: 200px;
      overflow: auto;

      li {
        cursor: pointer;
        padding: 4px 8px;

        * {
          pointer-events: none;
        }

        &.multiselect__options--selected {
          background-color: $brand-color-primary-pure;
          transition: background-color ease-in-out 0.25s;
          color: #fff;

          &:hover {
            background-color: darken($brand-color-primary-pure, 3);
          }
        }

        &:hover {
          background-color: #dedede;
        }

        &.arrow-selected {
          border: 2px solid rgba(101, 101, 101, 0.5);
        }
      }

      p.multiselect__options--no-results,
      p.multiselect__options--no-data {
        margin: 0;
        padding: 8px;
        text-align: center;
      }
    }
  }

  &__selected {
    background-color: $neutral-color-hight-medium;
    // border-radius: 2px;
    color: $neutral-color-low-pure;
    font-size: 0.75rem;
    margin: 0.25rem;
    padding: 4px 0.5rem;
    display: flex;
    align-items: center;
    border-radius: $border-radius-pill;

    .multiselect__remove-btn {
      cursor: pointer;
      display: flex;
      margin-left: 6px;

      &::after {
        @include icon("\F0156", 1rem);
        color: $brand-color-primary-pure;
      }
    }
  }
}

select:disabled ~ .multiselect__container {
  background-color: $neutral-color-hight-medium;

  div,
  input {
    background-color: $neutral-color-hight-medium;
  }

  div,
  input,
  span {
    cursor: auto;
  }

  .multiselect__clear-btn,
  .multiselect__remove-btn {
    &::after {
      color: $neutral-color-low-medium;
    }
  }
}

.input-size-lg .multiselect__container {
  padding: {
    top: 6px;
    bottom: 6px;
  }
}

.input-size-sm .multiselect__container {
  padding: {
    top: 0px;
    bottom: 0px;
  }

  min-height: 2rem;
}