.card {
  // font-family: $font-family-base;
  border-radius: $border-radius-md;
  background-color: $neutral-color-hight-pure;
  &.card-shadow {
    padding: 24px;
    border-radius: $border-radius-sm;
    box-sizing: border-box;
    height: 100%;
    // @extend %shadow-level-1;
    a {
      text-decoration: none;
      color: $color-primary-pure;
      // @extend %transition-link;
    }
    h3 {
      font-weight: $weight-bold;
      font-size: 1.5rem;
    }
    .icon {
      font-size: 1.5rem;
    }
  }
  &--default {
    border: solid 1px $neutral-color-hight-dark;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.08);
  }
  &--border {
    border: solid 2px $color-primary-pure;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.08);
  }
  &--shadow {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.08);
  }
}

.box--cards {
  @include mq(sm) {
    width: fit-content;
  }
  > div {
    max-width: 21rem;
    max-height: 5.5rem;
    width: 100vw;
    height: 100vw;
    margin-bottom: 1.25rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
