$neutral-color-low-pure: #171919;
$neutral-color-low-extra-light: #e3e3e3;
$neutral-color-low-light: #c9c9c9;
$neutral-color-low-medium: #aaa;
$neutral-color-low-dark: #4a4a4a;

$neutral-color-hight-pure: #fff;
$neutral-color-hight-extra-light: #f4f4f4;
$neutral-color-hight-light: #eee;
$neutral-color-hight-medium: #e0e0e0;
$neutral-color-hight-dark: #c7c7c7;

$feedback-color-helper-pure: #f07363;
$feedback-color-helper-extra-light: #f8d7da;
$feedback-color-helper-light: #d98479;
$feedback-color-helper-medium: #c05c4f;
$feedback-color-helper-dark: #783931;

$feedback-color-warning-pure: #e6cf42;
$feedback-color-warning-extra-light: #fff9db;
$feedback-color-warning-light: #ebd96a;
$feedback-color-warning-medium: #b8a635;
$feedback-color-warning-dark: #736721;

$feedback-color-success-pure: #41d394;
$feedback-color-success-extra-light: #d4edda;
$feedback-color-success-light: #76c2a1;
$feedback-color-success-medium: #34a976;
$feedback-color-success-dark: #206a4a;

$feedback-color-default-pure: #00747a;
$feedback-color-default-extra-light: #e6f1f2;
$feedback-color-default-light: #3da5a5;
$feedback-color-default-medium: #004649;
$feedback-color-default-dark: #123229;
