$table-bg-color-low-medium: #aaa;
$table-bg-color-thead: #e6f1f2;
$table-bg-color-tbody: #f4f4f4;

$brand-color-primary-pure: #00747a;
$brand-color-primary-extra-light: #e6f1f2;
$brand-color-primary-light: #3da5a5;
$brand-color-primary-medium: #245859;
$brand-color-primary-dark: #033e3f;
