$table-bg-color-low-medium: #aaa;
$table-bg-color-thead: #e6f1f2;
$table-bg-color-tbody: #f4f4f4;

$color-primary-pure: #00747a;
$color-primary-light: #f4f4f4;
$color-primary-medium: #eee;
$color-primary-dark: #e0e0e0;
