%transition-link {
  transition: ease-in-out 0.25s opacity;
  &:hover {
    opacity: 0.5;
  }
}
%shadow-level-1 {
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.08);
}
%shadow-level-2 {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.16);
}
%shadow-level-3 {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
}
%shadow-level-4 {
  box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.24);
}
