.event-card {
  font-family: "Lato", sans-serif;
  border-radius: 12px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  min-height: 40px;
  max-height: 111px;

  p {
    margin: 0px;
    font-size: $font-size-xxxs;
    line-height: 1rem;
  }

  h4 {
    margin: 0px;
    font-weight: $weight-bold;
    font-size: $font-size-xxxs;
    line-height: 1rem;
  }

  .event-status {
    border-left: 12px solid;
    border-radius: 12px;
    min-height: 40px;
    max-height: 111px;

    &--obrigacoes {
      border-color: #3DA5A5;
    }

    &--eventos_pagamento {
      border-color: #2B7373;
    }

    &--integralizacoes {
      border-color: #3B634E;
    }

    &--subscricoes {
      border-color: #86381D;
    }

    &--atualizacao_status_patrimonios {
      border-color: #F4A053;
    }

    &--marcos_patrimonios {
      border-color: #A5AF80;
    }

    &--vencimento_series {
      border-color: #171919;
    }

    &--rating {
      border-color: #F28E83;
    }

    .event-body {

      // width: 200px;
      &--small {
        padding: 4px 16px 4px 16px;
      }

      &--default {
        padding: 16px 8px 16px 8px;
      }
    }
  }
}

.break-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  &--one_line {
    -webkit-line-clamp: 1;
  }

  &--two_line {
    -webkit-line-clamp: 2;
  }

  &--three_line {
    -webkit-line-clamp: 3;
  }
}
